html {
  background: #0f0f1e;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vmax;
  display: grid;
  grid-template-columns: auto;
  height: 85vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.Calendar {
  text-align: center;
}

.Calendar__ad {
  font-size: 2vmax;
}

.Calendar__bs-day {
  font-size: 20vmax;
  font-weight: 100;
}
